// @import 'variables.scss';

.total-balance {
  width: 83%;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 3.81em;

  .wrapper-balance {
    // width: 80%;

    h3 {
      @include customFontSub;
    }
    .balance-chart-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .balance-chart {
        flex-basis: 60%;
        // agrego un padding para que no se vea tan pegado al borde y un fondo blanco
        background: white;
        border-radius: 18px;
        padding: 1.8em;

        display: flex;
        flex-direction: column;
        box-shadow: $shadow;

        /// nuevo
        .budgetsummary-wrapper {
          flex: 1;

          p,
          h4,
          h5,
          button {
            text-transform: capitalize;
          }

          .budget-sum-title-container {
            display: flex;
            height: 2.5em;
            margin-bottom: 2em;

            img {
              margin-right: 0.5em;
            }

            .presupuest-title-faltan-presupuestar {
              p {
                font-family: $font-maven;
                margin-bottom: 0.2em;
              }

              h4 {
                font-family: $font-maven;

                span {
                  color: #3b3838e6;
                  font-size: 1.2em;
                  font-family: $font;
                  letter-spacing: 1px;
                }
              }
            }
          }

          .barra {
            height: 15px;
            border-radius: 18px;
            width: 100%;
            overflow: hidden;
            border: 0.5px solid gray;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          }

          h5 {
          }
        }
        /// nuevo
        .budget-more-details {
          background-color: #7449f1;
          padding: 8px 0;
          border: none;
          border-radius: 18px;
          text-transform: capitalize;
          font-size: 1.05em;
          font-weight: 600;
          font-family: $font-maven;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          cursor: pointer;
          color: white;
        }
      }
      .balance-container {
        //  background: white;
        //   border-radius: 31px;
        //  box-shadow: $shadow;
        //   min-height: 14em;
        flex-basis: 40%;

        // padding: 1.625em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
          list-style: none;
          width: 80%;

          li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.125em;

            h4 {
              // color: #000000b0;
              font-weight: 500;
            }
            h4,
            span {
              font-family: $font;
              font-size: 1.125em;
              letter-spacing: 0.8px;
            }
            span {
              font-weight: 600;
            }
          }

          hr {
            border: 1px solid #e0e0e0;
            margin-bottom: 1.125em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .total-balance {
    font-size: 13px;
    width: 90%;
    .wrapper-balance {
      .balance-chart-container {
        display: unset;
        .balance-container {
          display: none;
        }
        .balance-chart {
          min-height: 214px !important;
        }
      }
    }
  }
}
