@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  overflow-x: hidden;

  // changing styles in scroll bar
  &::-webkit-scrollbar-thumb {
    //  background-color: transparent;
    // background-color: rgb(0, 149, 255);
    background-color: #547071;
    border-radius: 9px;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }
  background-color: $background;
}

// scroll to top styles

.scroll-to-top-button {
  visibility: hidden;
  border: none;
  font-size: 1.875em;
  color: crimson;
  background: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 4%;
  right: 2%;
  cursor: pointer;
  scroll-behavior: smooth;
  transition: all 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scroll-to-top-button.visible {
  visibility: visible;
  z-index: 1000;
}

// generic button in dashboard

.budget-more-details {
  background-color: #7449f1;
  padding: 8px 0;
  border: none;
  border-radius: 18px;
  text-transform: capitalize;
  font-size: 1.05em;
  font-weight: 600;
  font-family: 'Maven Pro', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  letter-spacing: 1px;
}

@media only screen and (max-width: 900px) {
  .scroll-to-top-button {
    bottom: 9%;
  }
}

// imports
@import 'landing';
@import 'card';
@import 'gastosIngresos';
@import 'header';
@import 'table';
@import 'balance';
@import 'balanceCard';
@import 'modalForm';
@import 'languageSelector';
@import 'saldoAcutal';
@import 'budget';
@import 'progressBar';
@import 'saldoCardSummary';
@import 'BuiltBudget';
@import 'financialCard';
