.total-header {
  padding: 15px 0;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;

    .home {
      width: 2.75em;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .person {
      display: flex;
      align-items: center;
      // cursor: pointer;

      img {
        width: 2.5em;
        height: 2.5em;
      }

      h3 {
        margin-left: 0.812em;
        font-size: 1.06em;
        font-weight: 600;
      }
    }
  }
}
