// @import "variables";

.language-selector {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: bold;
  margin-right: 1.25em;

  .language-title {
    font-weight: 600;
    //  margin-right: 1.875em;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  ul {
    position: absolute;
    top: 130%;
    list-style: none;
    background: white;
    text-transform: capitalize;
    font-size: 0.875em;
    right: 50%;
    box-shadow: $shadow;
    border-radius: 10px;
    min-width: 11em;
    display: none;
    overflow: hidden;
    z-index: 10;

    li {
      padding: 15px 17px;
      cursor: pointer;
      letter-spacing: 1.1px;
      font-weight: 600;

      &:hover {
        color: white;
        transition: all 200ms;
        background: black;
      }
    }
  }
}

.active {
  display: block !important;
}
