.modal-form-container {
  min-width: 30vw;
  min-height: 58vh;
  padding: 1.25em;

  .modal-form-form {
    form {
      display: flex;
      flex-direction: column;

      .form-title {
        margin-bottom: 2.1875em;
        text-align: center;
        font-size: 1.3em;
        letter-spacing: 1px;
        font-family: $font;
      }
      .input-money {
        font-size: 1.3em;
      }

      label {
        font-size: 13px;
        margin-bottom: 8px;
        font-family: system-ui;
      }

      input {
        margin-bottom: 2.3125em;
        padding: 0.5em;
        border: 1px solid #ccc;
        border-radius: 5px;
        border-top: none;
        border-right: none;
        border-left: none;
        font-family: system-ui;

        &:focus {
          outline: none;
        }
      }
      textarea {
        border-top: none;
        border-right: none;
        border-left: none;
        margin-bottom: 3em;
        font-family: system-ui;

        &:focus {
          outline: none;
        }
      }

      .select-form {
        font-family: system-ui;

        div {
          padding: 6px !important;
          font-size: 13px;
          padding-left: 13px !important;

          ul {
            li {
              font-size: 13px !important;
            }
          }
        }

        option {
          padding: 9px 12px;
          border-radius: 7px;
        }

        &:focus {
          outline: none;
        }
      }

      .buttons-container {
        margin-top: 40px;
        display: flex;
        justify-content: end;

        .modal-submit-button {
          background: green;
          color: white;
          font-weight: 600;
          padding: 12px 31px;
          border: none;
          border-radius: 21px;
          box-shadow: $shadow;
          cursor: pointer;
          letter-spacing: 1px;

          &:hover {
            background: #0d8e0d;
            transform: scale(1.009);
            transition: all 200ms;
          }
        }
      }
    }
  }
}

.ex-close {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &:hover {
    background-color: #e1d8d8de;
    transition: all 200ms;
  }
}
