//
.total-saldo-actual {
  .total-saldo-big-container {
    width: 91%;
    margin: auto;

    .total-saldo-title {
      @include customFont;
      margin: 0 0 0.8em 0;
    }

    .total-saldo-wrapper {
      width: 90%;
      margin: auto;

      .total-saldo-subtitle {
        @include customFontSub;
        margin: 0 0 1.1em 0;
        padding-top: 1.2em;
        text-transform: capitalize;
      }

      .top-saldo-linear-aside-container {
        display: grid;
        grid-template-columns: 840px 1fr;
        margin-bottom: 1.45em;
        grid-column-gap: 35px;

        .saldo-linear-contaienr {
          background: white;
          box-shadow: $shadow;
          padding: 25px;
          border-radius: 18px;
        }

        .aside-saldo-actual-container {
          .ingresos {
            // border-bottom: 1px solid lightgray;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
          }
          .ingresos,
          .gastos,
          .saldo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 1.25em;
            border-bottom: 1px solid lightgray;

            // conjunto para los dos
            background: white;

            .box1 {
              display: flex;
              align-items: center;

              img {
              }

              h3 {
                text-transform: capitalize;
                font-weight: 500;
              }
            }

            p {
              display: flex;
              align-items: center;
              font-family: $font-maven;
              font-weight: 500;
              font-size: 1.3em;

              img {
                width: 1.8em;
              }
            }
          }
          .saldo {
            // border-bottom: none;
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
          }

          .gastos {
            .box1 {
              img {
              }

              h3 {
              }
            }

            p {
            }
          }
        }
      }

      .saldo-bar-container {
        margin-top: 3.45em;
        margin-bottom: 3.45em;
        h3 {
          @include customFontSub;
          margin: 0 0 1.1em 0;
          text-transform: capitalize;
        }

        .saldo-bar-icons-most-expenses {
          display: grid;
          grid-template-columns: 65% 1fr;
          grid-column-gap: 35px;

          .saldo-bar-chart-wrapper {
            // width: 60%;
            padding-top: 1.56em;
            background: white;
            border-radius: 18px;
            box-shadow: $shadow;
          }
          .saldo-bar-chart-imgs {
            h4 {
              font-size: 1.25em;
              font-weight: 500;
              margin-bottom: 1.25em;
            }
            .img-icons-container {
              padding: 1.125em;
              display: flex;
              justify-content: space-evenly;
              flex-wrap: wrap;
              background: white;
              border-radius: 9px;
              //  border-bottom: 1px solid lightgray;
              box-shadow: $shadow;

              .saldo-bar-chart-img {
                width: 3.5em;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                  width: 100%;
                }
              }
            }
            .img-icons-container-names {
              padding: 1.5em;

              h6 {
                font-size: 1em;
                margin: 1em 0;
                font-weight: 500;
              }
              .names-icons-container {
                display: flex;
                justify-content: space-evenly;
                background: white;
                padding: 1.25em;
              }
            }
          }
        }
      }

      .bottom-compare-categories {
        .comparative-title {
          @include customFontSub;
          margin: 0 0 1.1em 0;
          text-transform: capitalize;
        }

        .gasto-chart-compare {
          margin: 0 0 4em 0;

          background: white;
          box-shadow: $shadow;
          border-radius: 18px;
          padding: 25px;
        }
        .recomendations-compare-title {
          font-size: 1.25em;
          font-weight: 500;
          margin: 1.5em 0;
          text-align: center;
        }
        // ul {
        //   list-style: none;
        //   padding: 1.25em;
        //   width: 75%;

        //   background: white;
        //   border-radius: 9px;

        //   li {
        //     text-align: justify;
        //     margin-bottom: 1.25em;
        //     line-height: 1.37em;
        //     font-family: system-ui, -apple-system, BlinkMacSystemFont,
        //       "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        //       "Helvetica Neue", sans-serif;
        //     font-size: 1.1em;
        //   }
        // }

        .card-saldo-actual-wrapper {
          // display: grid;
          // grid-template-columns: repeat(3, 1fr);
          // grid-gap: 35px;
          display: flex;
          gap: 25px;

          > div {
            p {
              // text-align: justify;
              font-family: $font-maven;
              line-height: 20px;
              padding: 10px 10px 0 10px;
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .total-saldo-actual {
    font-size: 13px;
    .total-saldo-big-container {
      .total-saldo-wrapper {
        width: unset;
        .total-saldo-subtitle {
          text-align: center;
        }
        .top-saldo-linear-aside-container {
          grid-template-columns: 1fr;
          justify-content: center;
          .saldo-linear-contaienr {
            order: 2;
            width: 100%;
            height: 220px;
            box-shadow: unset;
            border-radius: unset;
          }
          .aside-saldo-actual-container {
            font-size: 12px;
            order: 1;
            width: 100%;
            margin: auto;
            margin-bottom: 2.5em;

            .ingresos {
              border-top-left-radius: unset;
              border-top-right-radius: unset;
            }
            .saldo {
              // border-bottom: none;
              border-bottom-left-radius: unset;
              border-bottom-right-radius: unset;
            }
            .ingresos,
            .gastos,
            .saldo {
              //  background: #fffaf096;
              background: #fff;
            }
          }
        }
        .saldo-bar-container {
          h3 {
            text-align: center;
          }

          .saldo-bar-icons-most-expenses {
            grid-template-columns: 1fr;

            .saldo-bar-chart-wrapper {
              border-radius: unset;
              box-shadow: unset;
              order: 2;
            }
            .saldo-bar-chart-imgs {
              order: 1;
              margin-bottom: 2em;
            }
          }
        }

        .bottom-compare-categories {
          .comparative-title {
            text-align: center;
          }
          .gasto-chart-compare {
            width: unset !important;
            border-radius: unset;
            box-shadow: unset;
          }

          .card-saldo-actual-wrapper {
            display: grid;
            gap: 25px;
            grid-template-columns: repeat(3, 281px);
            grid-column-gap: 21px;
            overflow-x: scroll;

            .financial-card {
              width: unset;
            }
          }
        }
      }
    }
  }
}
