.total-table {
  //
  margin-top: 5.3125em;
  .table-wrapper {
    .contenedor-titulo-botoningreso {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.25em;

      button {
        background-color: #388e3c;
      }
      .testing {
        display: flex;
        align-items: center;

        h4 {
          letter-spacing: 0.5px;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 1em;
          font-family: $font;
        }
      }
      h2 {
        // margin-bottom: 1.3em;
        font-size: 1.8em;
      }
    }
    width: 75%;
    margin: auto;

    .table-container {
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      table {
        width: 100%;

        thead {
          background: white;
          height: 51px;
        }

        tbody {
          tr {
            height: 50px;
            font-size: 13px;

            td {
              padding: 5px 0 5px 20px;
              font-family: $font;
            }
            .edit-delete {
              button {
                background: transparent;
                border: none;
                cursor: pointer;
                img {
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

//// responsive

@media screen and (max-width: 850px) {
  .total-table {
    .table-wrapper {
      width: 90%;

      h2 {
        // font-size: 23px;
        //  margin-bottom: 15px;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  ///////
  th,
  td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
  }
}
